<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.www.goldmineproject">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--кфу зе бест, наш манифест-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddGroupActivity" />
        <activity android:name=".AddPersonalActivity" />
        <activity android:name=".AddProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditGroupActivity"/>
        <activity android:name=".EditPersonalActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".PersonalOpActivity" />
        <activity android:name=".AddPersonalOpActivity" />
        <activity android:name=".TipDialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <receiver android:name=".AlarmReceiver"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>